{% if context_list %}
    <ul>
    {% for context in context_list %}
        <li>
            <a href="{% url 'dorms:detail' context.id %}">{{ context.title }}</a>
            <p>{{ context.writer.username }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>글이 없습니다.</p>
{% endif %}

<div>
    <a href=  "{% url 'dorms:info_index' %}">정보 게시판</a>
    <a href=  "{% url 'dorms:free_index' %}">자유 게시판</a>
    <a href=  "{% url 'dorms:trade_index' %}">물품거래 게시판</a>
    <a href=  "{% url 'dorms:copurchase_index' %}">공동구매 게시판</a>

</div>

<!--부트스탧 사용-->
<!--<a href=  "{% url 'dorms:context_create' %}" class = "btn btn-primary">질문등록하기</a>-->
<a href=  "{% url 'dorms:context_create' %}">질문등록하기</a>

{% if user.is_authenticated %}
    <a href="{% url 'common:show' %}">프로필</a>
    <a href="{% url 'common:logout' %}">로그아웃</a>
{% else %}
    <p>로그인 되어 있지 않습니다.</p>
{% endif %}