{% extends 'dorms/base.html' %}
{% block content %}

<div class = "container">
  <h5 class="my-3 border-bottom pb-2">댓글수정</h5>
  <form method="post">
    {% csrf_token %}
    {% include "common/form_errors.html" %}
    <div class="mb-3">
      <label for="content" class="form-label">댓글내용</label>
      <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
    </div>
    <div class="position-relative">
      <button style="background-color: #1c6758;" type="submit" class="btn btn-success position-absolute end-0">저장하기</button>
    </div>
  </form>
</div>

{% endblock %}
