<!--CSS 부분-->
{% load static %}
<link rel="stylesheet" type = "text/css" href = "{% static 'style.css' %}">

<h1>{{content.title}}</h1>
<div>
    {{content.content}}
</div>
<div>
    {{content.writer.username}}
</div>
<div>
    {{content.date}}
</div>

<div class="my-3">
    {% if request.user == content.writer %}
        <a href="{% url 'dorms:free_context_modify' content.id  %}"  class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
           data-uri="{% url 'dorms:free_context_delete' content.id %}">삭제</a>
    {% endif %}
</div>

<h5> {{comment_list.count}}개의 답변이 있습니다.</h5>
{% if comment_list %}
<ul>
    {% for comment in comment_list %}
    <li>
        <div>
            {{comment.content}}
            {{comment.writer.username}}
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
    <p>답변이 없습니다.</p>
{% endif %}

<form method="post" action = "{% url 'dorms:free_comment_create' content.id %}">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
        {% if field.errors %}
        <div>
            <strong>{{field.label}}</strong>
            <span style="color: red;"> {{field.errors}} </span>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="form-group">
        <textarea {% if not user.is_authenticated %} disabled {% endif %} name = "content" id="content" rows="15"></textarea>
    </div>
    <input type="submit" value="답변등록" class="btn btn-primary">
</form>

{% block script %}
<script type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element){
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
{% endblock %}