{% extends './base.html' %}
{% block content %}

<nav style="background-color: #1c6758;"class="navbar border-bottom">
    <div id="d-nav" class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div style="color: white" class="nav-link" onClick="history.go(-1)">뒤로가기</div>
            </li>
        </ul>
        <a style="color: white" class="navbar-brand" href="{% url 'common:main' %}">RED:orm</a>
        <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a style="color: white" class="nav-link" href="{% url 'common:show' %}">프로필</a></li>
                    {% else %}
                        <li class="nav-item">
                            <a style="color: white" class="nav-link" href="{% url 'common:login' %}">로그인</a></li>
                    {% endif %}
        </ul>
    </div>
</nav>

<!--CSS 부분-->
{% load static %}
<link rel="stylesheet" type = "text/css" href = "{% static 'style.css' %}">

<div class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2">제목: {{ content.title }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ content.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{content.writer.username}}
                </div>
                <div class="badge bg-light text-dark p-2">
                    {{ content.date }}
                </div>
            </div>
            <div class="me-1">
            {% if request.user == content.writer %}
                <a href="{% url 'dorms:info_context_modify' content.id  %}"  class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
           data-uri="{% url 'dorms:info_context_delete' content.id %}">삭제</a>
            {% endif %}
            </div>
        </div>
    </div>

    <!-- 답변 -->
    <h6 class="border-bottom my-3 py-2">{{comment_list.count}}개의 댓글이 있습니다.</h6>
    {% for comment in comment_list %}
    <div class="card my-3">
        <div class="card-body">
            <div class="d-inline-flex justify-content-start">
                <div class="badge bg-light text-dark p-2">
                    {{comment.writer.username}}
                </div>
            </div>
            <div class="d-inline-flex justify-content-start">
                <div class="card-text" style="white-space: pre-line;">{{ comment.content }}</div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{ comment.create_date }}
                </div>
            </div>
            <div class="my-3">
                {% if request.user == comment.writer %}
                <a href="{% url 'dorms:info_comment_modify' comment.id %}"
                   class = "btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class = "delete btn btn-sm btn-outline-secondary"
                    data-uri="{% url 'dorms:info_comment_delete' comment.id %}">삭제</a>
                {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}

    <!-- 답변 등록 -->
    <form action="{% url 'dorms:info_comment_create' content.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{field.label}}</strong>
                <span style="color: red;"> {{field.errors}} </span>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

         <div class="row">
            <div class="col-9">
            <textarea {% if not user.is_authenticated %} disabled {% endif %} name = "content" id="content" class="form-control" rows="1"></textarea>
            </div>
            <div class="col-3">
                <input style="margin-top:0; background-color: #1c6758;"
                       class="btn btn-success" type="submit" value="등록">
            </div>
        </div>
    </form>
</div>

{% block script %}
<script type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element){
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>

{% endblock %}
{% endblock %}
