{% extends "dorms/base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<div class="wm-container-appbar">
  <span class="wm-title-appbar">세탁기 상태 확인</span>
</div>
<div class="wm-container-dorminfo">
  <span id="wm-dorminfo">지관 9층</span>
</div>

<div class="wm-container-washingmachine">
  <div class="wm-container-washingmachine-element">
    <button type="button" class="wm-button-washingmachine">
      <span class="wm-name-washingmachine">지관 9-1</span>
      <div class="wm-circular-progress-time"></div>
      <img src="./assets/washingmachine.png" alt="washingmachine">
      <span class="wm-time-washingmachine">0분</span>
    </button>
    <button type="button" class="wm-button-washingmachine-reservation"><img src="./assets/button_reservation.png" alt="button_reservation"></button>
  </div>
  <div class="wm-container-washingmachine-element">
    <button type="button" class="wm-button-washingmachine">
      <span class="wm-name-washingmachine">지관 9-2</span>
      <div class="wm-circular-progress-time"></div>
      <img src="./assets/washingmachine.png" alt="washingmachine">
      <span class="wm-time-washingmachine">0분</span>
    </button>
    <button type="button" class="wm-button-washingmachine-reservation" onclick="ReservationButtonClicked()"><img src="./assets/button_reservation.png" alt="button_reservation"></button>
  </div>
</div>

<div class="wm-container-button-use">
  <button type="button" id="wm-button-use" onclick="UseButtonClicked()"><img src="./assets/button_use.png" alt="button_use"></button>
</div>
{% endblock %}

{% block script %}
<script src="./js/WashingMachineState.js"></script>
{% endblock %}