{% extends "dorms/base.html" %}
{% block content %}
{% load static %}
{% load webpush_notifications %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<div class="wm-container-appbar">
  <input type="button" value="BACK" onClick="history.go(-1)">
  세탁기 정보 확인
</div>

{% if status_lst %}
  <div class="wm-container-dorminfo">
    <span id="wm-dorminfo">{{ building }}</span>
  </div>
  <div class="wm-container-washingmachine" id="wm-container-machine">
    {% for status in status_lst %}
      <div class="wm-container-washingmachine-element">
        <button type="button" class="wm-button-washingmachine">
          <span class="wm-name-washingmachine">{{status.machine_id}}</span>
          <div class="wm-circular-progress-time"></div>
          <img src="{%static './assets/washingmachine.png' %}" alt="washingmachine">
          <span class="wm-time-washingmachine">{{ status.end_time }}</span>
          <span hidden class="wm-starttime-washingmachine">{{ status.start_time }}</span>
        </button>
        <button type="button" class="wm-button-washingmachine-reservation"><img src="{%static './assets/button_reservation.png' %}" alt="button_reservation"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}


<div class="wm-container-button-use">
  <button type="button" id="wm-button-use" onclick="UseButtonClicked()"><img src="{%static './assets/button_use.png' %}" alt="button_use"></button>
  {% webpush_button %}
</div>

<script>
  var wm_machineImage_url = "{%static './assets/washingmachine.png' %}";
  var wm_buttonReservationImage_url = "{%static './assets/button_reservation.png' %}";
  var wm_buttonUseImage_url = "{%static './assets/button_use.png' %}";
  var wm_cameraPage_url = "{% url 'washing_machine:camera' %}";
</script>

<script src="{%static './js/washingMachineState.js' %}"></script>
{% endblock %}