{% extends "dorms/base.html" %}
{% block content %}
        <div class="register_box">
            <div style="margin-bottom: 20px;"><p class="logo_text" style="font-size: 1.5em;">채팅방 추가</p></div>
            <form>
                <b class="register_field">기숙사 건물</b> <br>
                <select class="register_input_field">
                    <option value="">기숙사 건물</option>
                    <option value="">인관</option>
                    <option value="">의관</option>
                    <option value="">예관</option>
                    <option value="">지관</option>
                    <option value="">신관A</option>
                    <option value="">신관B</option>
                </select>
                <br>
                <b class="register_field">방 호수</b> <br>
                <input id="room-name-input" class="register_input_field" type="number" value="room_number" placeholder="(ex. 123호 => 123)">
                <br>
                <input id="room-name-submit" class="register_button" type="submit" value="채팅방 생성" style="margin-top: 20px;">
    
                </select>
            </form>

            <script>
                document.querySelector('#room-name-input').focus();
                document.querySelector('#room-name-input').onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#room-name-submit').click();
                    }
                };
        
                document.querySelector('#room-name-submit').onclick = function(e) {
                    var roomName = document.querySelector('#room-name-input').value;
                    window.location.pathname = '/conversations/' + roomName + '/';
                };
            </script>
        </div>

{% endblock %}