textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
}

/********홍구님 시작********/
.wm-container-appbar{
    position: fixed;
    width: 100vw;
    text-align: center;
    background-color: #1C6758;
    padding: 10px 0 10px 0;
    color: white;
    font-size: 2em;
    font-weight: bold;
    top: 0%;
    left: 50%;
    transform: translate( -50%, 0% );
  }
  
  .wm-container-dorminfo{
    position: fixed;
    width: 250px;
    background-color: white;
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 20px;
    top: 15%;
    left: 50%;
    transform: translate( -50%, 0% );
  }
  
  #wm-dorminfo{
    font-size: 2em;
    font-weight: bold;
    padding: 20px 30px;
  }
  
  .wm-container-washingmachine{
    margin: auto;
    margin-top: 330px;
    display: flex;
    gap: 30px;
    width: fit-content;
  }
  
  .wm-container-washingmachine-element{
    position: relative;
    width: 122px;
  }
  
  .wm-button-washingmachine{
    background-color: transparent;
    border: none;
  }
  
  .wm-button-washingmachine img{
    width: 122px;
  }
  
  .wm-button-washingmachine-reservation{
    background-color: transparent;
    border: none;
  }
  
  .wm-button-washingmachine-reservation img{
    width: 40px;
    position: absolute;
    top: -10%;
    right: -20%;
  }
  
  .wm-name-washingmachine{
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    position: absolute;
    top: 2.5%;
    left: 15%;
  }
  
  .wm-circular-progress-time{
    position: absolute;
    background-color: #1C6758;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    top: 50%;
    left: 55%;
    transform: translate( -50%, -50% );
    background: conic-gradient(rgb(28, 103, 88) 30deg, rgb(237, 237, 237) 0deg);
  }
  
  .wm-circular-progress-time::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid;
    border-width: 1px;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
  }
  
  .wm-time-washingmachine{
    color: #1C6758;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate( -50%, -50% );
  }
  
  .wm-container-button-use{
    position: fixed;
    bottom: 5%;
    right: 5%;
  }
  
  #wm-button-use{
    background-color: transparent;
    border: none;
  }
  
  #wm-button-use img{
    width: 150px;
    height: 150px;
  }
  
  #wm-body-cam{
    background-color: black;
  }
  
  .wm-container-description{
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
  
  #wm-description-qr{
    color: white;
    font-weight: bold;
    font-size: 2em;
  }
  
  #wm-outputMessage{
    color: white;
    font-weight: 1em;
  }
  
  #wm-outputData{
    color: white;
    font-weight: 1em;
  }
  
/********홍구님 끝********/



/********지혜님 시작********/

/********지혜님 끝********/



/********경식님 시작********/

/********경식님 끝********/
